body
{
  font-family: 'Roboto',sans-serif;
  word-break: break-all;
}
.block
{
  margin: 0 auto;
}

/* partie header et nav */
header{
  display:flex;
  flex-direction: column;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav i{
  font-size: 1.2em;
}

a
{
  text-decoration: none;
}

#logo
{
  background-image: url("../images/logo/ohmyfood.jpg");
  background-size: contain;
  height: 30px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#enchanté
{
  background-image: url("../images/restaurants/enchanté.jpg");
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

#française
{
  background-image: url("../images/restaurants/française.jpg");
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

#gout
{
  background-image: url("../images/restaurants/gout.jpg");
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
#sens
{
  background-image: url("../images/restaurants/sens.jpg");
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

/* end partie header et nav */


.carte{
  background-color:#F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
}

.prix{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.7em;
}
.desc2{
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 15px 0 15px 15px;
}


.desc1
{
  border-radius: 15px;
  background-color: #F6F6F6;
  box-shadow: 3px 5px 5px #e2e2e2;
  width: 95%;
  /*padding: 15px;*/
  margin: 15px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.check-box{
  position: relative;

}
.check{
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  box-shadow: 3px 5px 5px #e2e2e2;
  width: 67%;
  height: 39px;
  position: absolute;
  /*padding: 15px;*/
  /*margin: 10px;*/
  right: 0%;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check i{
  overflow: hidden;
}
 /* transition pour hover vert*/

.desc1:hover .check{
  width: 55px;
  height: 68px;

}

.desc1:hover i{
  /*background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #fff;
}

.desc1:hover .desc2{
  width: 82%;
}

.desc1:hover span{
  margin-right: 15px;
}

.desc1 h5{
  font-size: 1em;
  margin:0;
}
.desc1 p{
  font-size: 0.85em;
  margin: 0;
}

.desc1 span{
  font-weight: bold;
  display: flex;
}
.cmd{
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-cmd{
  font-weight: bold;
  color: #fff;
  border-radius: 50px;
  border: 2px ;
  background-image:linear-gradient(to bottom, #FF79DA , #9356DC);
  width: 165px;
  margin: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: #353535;
  color: #fff;
  padding: 0 0 20px 25px;

}

footer h4{
  font-family: 'Shrikhand',sans-serif;
  letter-spacing: 0.1em;
  padding-top: 20px;
}
footer i{
  padding-right: 10px;
  font-size: 0.8em;
}
.fa-hands-helping{
  font-size: 0.6em;
}
